# Dependencies
**/node_modules/

# Build outputs
**/dist/
**/build/

# Env files
**/.env
**/.env.local
**/.env.*.local
!cd ecommerce-frontend/.env.local

# Logs
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*

# OS / Editor
.DS_Store
Thumbs.db
.vscode/

*.mp4
node_modules/
.env
dist/